docker/.env
.secrets/
*.secret
*.key

ansible/*.retry
ansible/inventory/host_vars/*/local.yml
ansible/inventory/host_vars/*/private.yml
ansible/inventory/host_vars/*/vault.yml

__pycache__/
*.pyc

.DS_Store
Thumbs.db

.vscode/
.idea/

*.log

.remember/

docker/branding/searxng/out/
docker/branding/searxng/logo.*

ansible/roles/deploy/files/jellyfin/iptv-fr.m3u
