# {{ ansible_managed }}
[Unit]
Description=Start a SMART extended self-test on the homelab data disk

[Service]
Type=oneshot
ExecCondition=/bin/sh -c "! /usr/sbin/smartctl -c {{ data_disk_device | regex_replace('[0-9]+$', '') }} | grep -q 'Self-test routine in progress'"
ExecStart=/usr/sbin/smartctl -t long {{ data_disk_device | regex_replace('[0-9]+$', '') }}
