HOMELAB_HEALTH_PUSH_URL='{{ homelab_health_kuma_push_url | default("") }}'
HOMELAB_PENDING_PUSH_URL='{{ homelab_pending_kuma_push_url | default("") }}'
HOMELAB_POSTURE_PUSH_URL='{{ homelab_posture_kuma_push_url | default("") }}'
DISK_HEALTH_PUSH_URL='{{ disk_health_kuma_push_url | default("") }}'
LYNIS_PUSH_URL='{{ lynis_kuma_push_url | default("") }}'
NOTIFY_PUSH_PUSH_URL='{{ notify_push_kuma_push_url | default("") }}'
{% for grp in netdata_alarm_groups | default([]) if grp.push_url %}
NETDATA_{{ grp.name | upper | regex_replace('[^A-Z0-9]', '_') }}_PUSH_URL='{{ grp.push_url }}'
{% endfor %}
