# {{ ansible_managed }}
jobs:
  - name: local
    address: 'tcp://socket-proxy:2375'
    timeout: 5
    autodetection_retry: 60
    update_every: {{ netdata_docker_update_every }}
    collect_container_size: no
