# {{ ansible_managed }}
RESTIC_REPOSITORY='{{ backup_dir }}/restic-repo'
RESTIC_PASSWORD='{{ restic_password }}'

MINIFLUX_DB_USER='{{ miniflux_db_user | default("miniflux") }}'
MINIFLUX_DB_NAME='{{ miniflux_db_name | default("miniflux") }}'

KUMA_PUSH_URL='{{ backup_kuma_push_url | default("") }}'

KUMA_LOCAL_MAINT_PUSH_URL='{{ local_maintenance_kuma_push_url | default("") }}'

{% if offsite_restic_password is defined and offsite_restic_password %}
OFFSITE_RESTIC_REPOSITORY='rest:http://{{ hostvars["offsite"].offsite_wg_ip }}:{{ hostvars["offsite"].rest_server_port }}/'
OFFSITE_RESTIC_PASSWORD='{{ offsite_restic_password }}'
OFFSITE_REST_USER='{{ hostvars["offsite"].rest_server_auth_user }}'
OFFSITE_REST_PASSWORD='{{ hostvars["offsite"].rest_server_auth_password }}'
{% else %}
OFFSITE_RESTIC_REPOSITORY=''
{% endif %}
KUMA_OFFSITE_PUSH_URL='{{ offsite_copy_kuma_push_url | default("") }}'
KUMA_OFFSITE_CHECK_PUSH_URL='{{ offsite_check_kuma_push_url | default("") }}'
