# {{ ansible_managed }}
users:
  {{ dozzle_admin_user }}:
    email: {{ dozzle_admin_email }}
    name: {{ dozzle_admin_name }}
    password: "{{ dozzle_admin_password_hash }}"
    filter: ""
    roles: ""
