# {{ ansible_managed }}

api:
  dashboard: true
  insecure: false

entryPoints:
  web:
    address: ":80"
    http:
      aliasHeadersStrategy: delete
      redirections:
        entryPoint:
          to: websecure
          scheme: https
  websecure:
    address: ":443"
    transport:
      respondingTimeouts:
        readTimeout: 600s
    http:
      aliasHeadersStrategy: delete
      middlewares:
        - vpn-only@file
        - secure-headers@file
        - rate-limit@file
      tls:
        certResolver: letsencrypt
  ping:
    address: ":8082"
    http:
      aliasHeadersStrategy: delete

ping:
  entryPoint: ping

certificatesResolvers:
  letsencrypt:
    acme:
      email: "{{ traefik_acme_email }}"
      storage: /acme/acme.json
      dnsChallenge:
        provider: cloudflare
        resolvers:
          - "1.1.1.1:53"
          - "8.8.8.8:53"

providers:
  docker:
    endpoint: "tcp://socket-proxy:2375"
    exposedByDefault: false
    network: proxy
  file:
    directory: /etc/traefik/dynamic
    watch: true

log:
  level: WARN

accessLog:
  filePath: /var/log/traefik/access.log
