# {{ ansible_managed }}

WG_ADMIN_USERNAME=admin
WG_ADMIN_PASSWORD='{{ wg_password }}'

WG_HOST=vpn.{{ domain }}
WG_PORT=51820

WG_DNS={{ homelab_ip }}

WG_ALLOWED_IPS=0.0.0.0/0
WG_MTU=1420
WG_PERSISTENT_KEEPALIVE=0
